
.all-products-container {
    margin-bottom: 2rem;
}

.carousel {
    overflow: hidden;
    width: 500%; 
    text-align: center;
    height: 300%;
}

.carousel-track {
    display: flex;
    animation: scroll 50s linear infinite; 
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); 
    }
}


.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px; /*ancho*/
    height: 300px; /*alto*/
    margin: 10px; 
    text-align: center;
    background-color: white; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 9px; 
    transition: transform 0.2s, box-shadow 0.2s; 
}

.product-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}


.product-image {
    width: 100px; 
    height: 120px; 
    object-fit: cover; 
    border-radius: 8px; 
}


h3 {
    font-size: 1.25rem; 
    color: black; 
    margin: 10px 0 5px; 
}

p {
    font-size: 1rem; 
    color: black; 
    margin: 5px 0; 
}


.price {
    color: green; 
}


.category-row {
    display: flex; 
    justify-content: flex-start; 
    flex-wrap: wrap; 
    margin: 0 -10px; 
}
