/* src/components/FiltroDeBusqueda/Filtro.css */
.product-filter {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 20px; 
    height: 100px; 
}

.product-filter select {
    padding: 10px; 
    font-size: 18px; /* Tamaño de fuente */
    font-weight: bold; /* Peso de fuente */
    background-color: #fff8b3; 
    color: #000; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    text-align: left; 
    margin-left: 20px; 
}

/* Alineación de contenedor del filtro y título en App.css */
.title-and-filter {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 20px; 
}
